@import
	url('https://fonts.googleapis.com/css2?family=Prompt:wght@400;700&family=Syncopate:wght@400;700&display=swap')
	;

#container {
	width: 100%;
	max-width: 1080px; /* Limiting width to 1080px */
	margin: 10px auto; /* Centering horizontally */
	display: flex;
	justify-content: center;
	align-items: center;
}

body {
	background-color: #000000;
	color: white;
	font-family: "Prompt", sans-serif;
	font-weight: 400;
	font-style: normal;
}

h1 {
	color: orange;
}

table {
	width: 100%;
	max-width: 100%; /* Making table responsive */
	border-collapse: collapse;
}

th, td {
	border: 1px solid #dddddd;
	text-align: left;
	padding: 8px;
}

#priceDisplay {
	width: 100%;
	max-width: 800px; /* Limiting the width of priceDisplay */
	margin: 0 auto; /* Centering horizontally */
	text-align: center; /* Aligning content center */
}